<%= render 'shared/list' %>

<!-- <div class="main-container"> -->
<h1>ようこそ！CD侍へ！</h1><br/>

<h3>CDを通して新たな音楽との出会いを...。</h3>

<p>
	封を開ける時のワクワク感、CDならではの高音質、<br/>
	曲をダウンロードするだけでは味わえない<br/>
	音楽の楽しみがそこにはあります。<br/>
	CD侍では多数のCDを取り扱っております。<br/>
	是非こちらであなただけの最高の一枚と出会ってください。
</p>

<!-- </div> -->