<h1> ユーザ一覧</h1>

<table class="table table-hover table-inverse">
　<thead>
	<tr>
  	  <th>ユーザID</th>
  	  <th>ユーザ名</th>
  	  <th>メールアドレス</th>
  	  <th colspan="3"></th>
  	</tr>
  </thead>

  <tbody>
	<% @users.each do |user| %>
  	<tr>
  	  <td><%= user.id %></td>
	  <td><%= user.last_name + user.first_name %></td>
	  <td><%= user.email %></td>
    <% if user.deleted_at == nil %>
	  <td><%= link_to "詳細" , admins_user_path(user) %>
	  </td>
    <%else%>
    <td>
    <span style="color: red;">退会済</span>
	  </td>
  <% end %>
    </tr>
  </tbody>
</table>