<h1> 商品一覧</h1>

<table>
  <thead>
  	<tr>
  	  <th>CDタイトル</th>
  	  <th colspan="3"></th>
  	</tr>
  </thead>

  <tboby>
  <% @products.each do |product| %>
	<tr>
		<td>
		<%= link_to admins_product_path(product) do %>
			<%= attachment_image_tag product, :product_image, :fill, 100, 100 %><br>
			<%= product.cd_title %>
		 <%end%>
		</td>
	</tr>
	<tr>
		<td>
		<%= product.price%>円
	</td>
	</tr>
  <% end %>
  </tboby>
</table>


