<h1> 商品一覧</h1>

<% @search_products.each do |product| %>
  <div class="col-xs-3" style="text-align: center; margin-bottom: 10px;">
  	<%= link_to product_path(product) do %>
	  <%= attachment_image_tag product, :product_image, :fill, 100, 100 %><br>
	  <%= product.cd_title %><br>
	<%end%>

	価格: <%= product.price%>円
  </div>
<% end %>
